version: '3.8'

services:
  ingestion:
    build: ./ingestion
    container_name: chess-ingestion
    volumes:
      - ./data:/data
      - ./logs:/logs
    environment:
      - ./env/ingestion.env

  processing:
    build: ./processing
    container_name: chess-processing
    volumes:
      - ./data:/data
      - ./logs:/logs
    depends_on:
      ingestion:
        # Wartet, bis Ingestion erfolgreich beendet ist
        condition: service_completed_successfully
    environment:
      - ./env/processing.env

  dashboard:
    build: ./dashboard
    container_name: chess-dashboard
    volumes:
      - ./data:/data
      - ./logs:/logs
    ports:
      - "8501:8501"
    depends_on:
      processing:
        # Dashboard wartet, bis Processing fertig ist
        condition: service_completed_successfully
    env_file:
      - ./env/dashboard.env
